[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "3rdparty/wxwidgets"]
	path = 3rdparty/wxwidgets
	url = https://github.com/wxWidgets/wxWidgets.git
